<!DOCTYPE html>
<html lang='en'>
    <head>
      <title>Book Shelf</title>
      <link href="/styles/base.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <main>
            <h1>Book Collection</h1>
        </main>
    </body>
</html>
