body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: green;
}

@media only screen and (max-width: 480px) {

    body {
        background-color: pink;
        width: 490px;
    }
    
    .parentContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 490px; 
        background-color: pink;
    }

    form {
        display: grid;
        grid-row-gap: 15px;
        background-color: lightseagreen;
         
    }
}

@media only screen and (min-width: 480px) {

    body {
        background-color: lightskyblue;
        width: 490px;
    }
    
    .parentContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 490px; 
        background-color: pink;
    }

    form {
        display: grid;
        grid-row-gap: 15px;
        background-color: lightseagreen;
         
    }
}